<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
<title>Product App</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
          <div class="product-image">
            <img :src="image" />
          </div>
      
          <div class="product-info">
            <div class="product">
                <div
                    class="color-box"
                    v-for="variant in variants"
                    :key="variant.variantId"
                    :style="{ backgroundColor:variant.variantColor }"
                    @mouseover="updateProduct(variant.variantImage)"
                    >
                </div>
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
      
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.variantId">
              <p @mouseover="updateProduct(variant.variantImage)">
                {{ variant.variantColor }}
              </p>
            </div>
      
            <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class="{ disabledButton: !inStock }"
          >
            Add to cart
          </button>
      
            <div class="cart">
              <p>Cart({{ cart }})</p>
            </div>
      
          </div>
        </div>
    <script src="main.js"></script>
    
</body>
</html>